<form action="/register" method="POST">
    <label >Email</label>
    <input type="email" name="email" placeholder="Enter email">
    <label >Username</label>
    <input type="name" name="username" placeholder="Enter username">
    <label >Password</label>
    <input type="password" name="password" placeholder="Enter password">
    <label >Date of birth</label>
    <input type="text" name="dateOfBirth" placeholder="dd/mm/yyyy">
    <button type="submit">Register</button>
</form>
