<nav>
  <a href="/dashboard/home">Home</a>
  <a href="/dashboard/edit">Edit</a>
  <a href="/dashboard/datelog">Datelog</a>
  <a href="/dashboard/otherUser-profile">otherUser</a>
  <a href="/dashboard/myPotentials">Potentials</a>
</nav>


<div>Hello {{user.username}}, age: {{user.dateofBirth}}! Your horoscope is {{user.horoscope}} <br> Your are in dashboard/home </div>

<img  style="width: 100px" src={{user.image_url}}>

<button><a href="/logout">LOGOUT</a></button>
  