<nav>
  <a href="/dashboard/home">Home</a>
  <a href="/dashboard/edit">Edit</a>
  <a href="/dashboard/datelog">Datelog</a>
  <a href="/dashboard/otherUser-profile">otherUser</a>
  <a href="/dashboard/myPotentials">Potentials</a>
</nav>


<p>this is {{user.username}} page! <br> 
You are in dashboard/ {{user._id}} page</p>

<form method= "POST" action="/dashboard/profile/{{user._id}}">
<button type="submit">Request date</button>
</form>



<button><a href="/logout">LOGOUT</a></button>