
{{!-- <h1>{{title}}</h1> --}}
 <img src="./images/Astrolover-logo.png" alt="logo" class="logo">
  

  <div class="landing-box">
    <div class="landing-text">
      <h3>Your next love is written in the stars!</h3>
      <h6 class=>We know who is in your future and now, so do you.</h6>
      <p class=>In Astrolover we work with a complex algorithm based 100% dependable on astrologic accuracy.</p>
      <div class="landing-btn-box">
        <button><a href="/login">Log in</a></button>
        <button><a href="/register">Register</a></button>
      </div>
    </div>
  
  </div>
